/*!
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * asset tim.css combined on 2016-12-29T08:19:46-08:00
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
body{background:Teal;color:WhiteSmoke;font-family:'Ubuntu Mono',monospace!important}#page{text-align:center}#headspin{white-space:pre;line-height:normal;color:Snow;font-size:12px}small{color:Gainsboro!important}